body {
    background-color: #ffffff;
    font-family: Raleway, sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
    font-size: 50px;
    line-height: 1.7em;
}

div.difficulty {
    text-align: center;
}

i.star {
    font-size: 50px;
    margin: 0px 5px;
}

.puzzle table {
    width: 500px;
    height: 397px;
    margin: 0 auto;
}

.puzzle table td {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    border: 1px solid #000000;
}

.puzzle td:first-child {
    border-left: solid;
}

.puzzle td:nth-child(3n) {
    border-right: solid;
}

.puzzle tr:first-child {
    border-top: solid;
}

.puzzle tr:nth-child(3n) td {
    border-bottom: solid;
}
