body {
    background-color: #ffffff;
    font-family: Raleway, sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
    font-size: 50px;
    line-height: 1.7em;
}

div.difficulty {
    text-align: center;
}

i.star {
    font-size: 50px;
    margin: 0px 5px;
}

.puzzle table {
    width: 500px;
    height: 400px;
    border: 2px solid #000000;
    margin: 0 auto;
}

.puzzle table td {
    border: 1px solid #000000;
}
